/* footer.module.css */

.footer {
  width: 100%;
  padding: 2rem 1rem;
  background: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 641px) and (max-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 5vw;
  }
}

@media (min-width: 1025px) {
  .footer {
    padding: 3rem 10vw;
    gap: 2rem;
  }
}
